<!--The content below is only a placeholder and can be replaced.-->
<div fxLayout="row">
    <div class="app-wrapper" fxLayout="column">
        <div class="nav-wrapper">
            <mat-toolbar color="primary">
                <mat-toolbar-row>
                    <span class="menu-spacer"></span>
                    <div>
                        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
                        <a href="#" mat-button [routerLink]="['\home']">Home</a>
                        <a href="#" mat-button [routerLink]="['\books']">Books List</a>
                        <a href="#" mat-button [routerLink]="['\books']">Users List</a>
                    </div>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>

        <div class="router-wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>