<div fxLayout="row"  fxLayoutAlign="center center" class="book-detail-component-wrapper">
  <div fxLayout="column" class="book-detail-component">
    <mat-card>
      <mat-card-title class="" color="primary">
        Book Detail Information
      </mat-card-title>
  
      <mat-card-content>
        <form fxLayout="column" #bookDetail="ngForm" novalidate [formGroup]="bookDetailForm" (ngSubmit)="onSubmit(bookDetail)">
  
          <mat-form-field fxFlex="50%" class="form-element">
            <input matInput placeholder="Book Name" formControlName="name" required>
            <mat-error *ngIf="bookDetailForm.controls.name.errors?.required">
              Book name is required.
            </mat-error>
          </mat-form-field>
    
          <mat-form-field fxFlex="50%" class="form-element">
            <input type="number" matInput placeholder="Price" formControlName="price" required>
            <mat-error *ngIf="bookDetailForm.controls.price.errors?.required">
              Price is required.
            </mat-error>
          </mat-form-field>
    
          <mat-form-field fxFlex="50%" class="form-element">
            <input matInput placeholder="Book Condition" formControlName="bookCondition" required>
            <mat-error *ngIf="bookDetailForm.controls.bookCondition.errors?.required">
              Book condition is required.
            </mat-error>
          </mat-form-field>
    
          <mat-form-field fxFlex="50%" class="form-element">
            <input matInput placeholder="Publication" formControlName="publication">
          </mat-form-field>
    
          <mat-form-field fxFlex="50%" class="form-element">
            <input matInput placeholder="Standard" formControlName="standard" required>
            <mat-error *ngIf="bookDetailForm.controls.standard.errors?.required">
              Standard is required.
            </mat-error>
          </mat-form-field>
    
          <mat-form-field fxFlex="50%" class="form-element">
            <input matInput placeholder="Category" formControlName="category">
          </mat-form-field>
    
          <mat-form-field fxFlex="50%" class="form-element">
            <input matInput placeholder="Author" formControlName="author">
          </mat-form-field>
    
          <mat-form-field fxFlex="50%" class="form-element">
            <input matInput placeholder="Subject" formControlName="subject" required>
            <mat-error *ngIf="bookDetailForm.controls.subject.errors?.required">
              Subject is required.
            </mat-error>
          </mat-form-field>
    
          <mat-form-field fxFlex="50%" class="form-element">
            <input matInput placeholder="Posted By" formControlName="postedBy">
          </mat-form-field>

          <div fxLayout="row" class="book-upload-image-wrapper" fxLayoutAlign="center center">
            <div fxLayoutAlign="center center" class="form-element">
                <div class="book-preview-wrapper">
                  <div id="bookPreviewWrapper" [style.backgroundImage]="'url('+ imageUrl +')'">
                  </div>
                </div>
            </div>
          </div>

          <div fxLayoutAlign="end center" class="book-app-action-buttons-wrapper"  fxLayout="row">
            <button type="button" class="book-app-action-buttons" (click)="navigateTo('edit')" mat-raised-button color="primary">
                Edit      
            </button>
            <button type="button" class="book-app-action-buttons" (click)="navigateTo('list')" mat-raised-button color="accent">
              Back to List 
            </button>
          </div>
        </form>
      </mat-card-content>
      
    </mat-card> 



  </div>
</div>   
