/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


/* Generic Css Goes Here*/
.book-app-action-buttons{
    cursor: pointer;

    a{
        color: #fff;
        text-decoration: none;
    }
    a:hover,
    a:active,
    a:visited{
        color: #fff;
    }

}
button.book-app-action-buttons .mat-button-focus-overlay,
button.book-app-action-buttons .mat-button-ripple{
   display: none !important;
}
.book-app-primary-button{
    margin-right: 20px !important;
}


/* Over Ride the material css*/

.success{
    background:rgb(139, 195, 74)
}

// App Component
button.book-main-menu .mat-button-focus-overlay,
button.book-main-menu .mat-button-ripple{
   display: none !important;
}

// Book Detail Component
.book-detail-component .mat-input-element:disabled{
    color: rgba(0, 0, 0, 0.87);
}

// Book Edit Component
.book-edit-component .mat-input-element:disabled{
    color: rgba(0, 0, 0, 0.87);
    cursor: not-allowed;
}